## **Carga Data Admision**

In [1]:
## Librerias

import pandas as pd
from sqlalchemy import create_engine

In [2]:
# üîó Datos de conexi√≥n a SQL Server
server = "localhost"  # O la direcci√≥n de tu servidor
database = "PROYECTOS"  # Cambia por el nombre de tu base de datos
username = "sa"
password = "HuerIrv_2797"

# üìå Crear la conexi√≥n con SQL Server
engine = create_engine(f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server")

### **Carga - Data Escuelas**

In [5]:
ruta = r"C:\Users\PC\Desktop\Proyectos\Proyectos_Py\8.ResultadosAdmision\datos_admision\escuela_admision_20252_PT1.csv"
data1 = pd.read_csv(ruta, sep = "|")
data1

                                 ESCUELA  CODIGO
0                                DERECHO      22
1                   DERECHO - VILLA RICA     225
2                       CIENCIA POL√çTICA      23
3                             LITERATURA      31
4   LENGUAS, TRADUCCI√ìN E INTERPRETACI√ìN     310
..                                   ...     ...
88                    INGENIERIA NUCLEAR     195
89                INGENIERIA MECATRONICA     196
90                INGENIER√çA DE SISTEMAS     201
91                INGENIER√çA DE SOFTWARE     202
92             CIENCIA DE LA COMPUTACI√ìN     203

[93 rows x 2 columns]

In [6]:
ruta = r"C:\Users\PC\Desktop\Proyectos\Proyectos_Py\8.ResultadosAdmision\datos_admision\escuela_admision_20252_PT2.csv"
data2 = pd.read_csv(ruta, sep = "|")
data2

                                             ESCUELA  CODIGO
0                                    MEDICINA HUMANA      11
1                                        OBSTETRICIA      12
2                                         ENFERMER√çA      13
3       TEC. MED. LAB. CL√çNICO Y ANATOM√çA PATOL√ìGICA     141
4          TEC. MED. TERAPIA F√çSICA Y REHABILITACI√ìN     142
5                               TEC. MED. RADIOLOG√çA     143
6                      TEC. MED. TERAPIA OCUPACIONAL     144
7                                          NUTRICION      15
8                              FARMACIA Y BIOQU√çMICA      41
9                          CIENCIAS DE LOS ALIMENTOS      42
10                                       TOXICOLOG√çA      43
11                                       ODONTOLOG√çA      51
12                              MEDICINA VETERINARIA      81
13                                        PSICOLOG√çA     181
14                               PSICOLOG√çA - CHILCA    1814
15                           PSICOLOG√çA - VILLA RICA    1815
16                              PSICOLOG√çA - HUARMEY    1816
17  PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA     182

In [8]:
data = pd.concat([data2, data1])
data

                                         ESCUELA  CODIGO
0                                MEDICINA HUMANA      11
1                                    OBSTETRICIA      12
2                                     ENFERMER√çA      13
3   TEC. MED. LAB. CL√çNICO Y ANATOM√çA PATOL√ìGICA     141
4      TEC. MED. TERAPIA F√çSICA Y REHABILITACI√ìN     142
..                                           ...     ...
88                            INGENIERIA NUCLEAR     195
89                        INGENIERIA MECATRONICA     196
90                        INGENIER√çA DE SISTEMAS     201
91                        INGENIER√çA DE SOFTWARE     202
92                     CIENCIA DE LA COMPUTACI√ìN     203

[111 rows x 2 columns]

In [10]:
# üì§ Insertar los datos en la tabla (ajusta "nombre_tabla")
data.to_sql("escuela_admision_202502"
        , engine
        # , if_exists="append"
        , index=False)

print("‚úÖ Datos insertados con √©xito en SQL Server")

‚úÖ Datos insertados con √©xito en SQL Server

### **Carga - Data Admision**

In [15]:
ruta = r"C:\Users\PC\Desktop\Proyectos\Proyectos_Py\8.ResultadosAdmision\datos_admision\data_admision_20252_PT1.csv"
data1 = pd.read_csv(ruta, sep = "|")
data1

,CODIGO_ESCUELA,CODIGO,APELLIDOS_NOMBRES,ESCUELA_PROFESIONAL,PUNTAJE,MERITO,OBS,ANIO,TIPO
0,22,842720,"ABAD TABARA, VALERY NICOLE",DERECHO,723.875,NaN,NaN,2025,2
1,22,801992,"ABANTO HEREDIA, CARLOS JOSEPH",DERECHO,766.750,NaN,NaN,2025,2
2,22,760771,"ACCARAPI DE LA CRUZ, NAHOMY ROSSY",DERECHO,1333.000,118.0,ALCANZO VACANTE,2025,2
3,22,712401,"ACERO CLAROS, MICHAEL JHON",DERECHO,1366.250,68.0,ALCANZO VACANTE,2025,2
4,22,743914,"ACEVEDO ROJAS, JADE SAMIRA",DERECHO,1088.750,NaN,NaN,2025,2
...,...,...,...,...,...,...,...,...,...
17789,203,251118,"VEGA ISUIZA, REYNALDO MAURICIO",CIENCIA DE LA COMPUTACI√ìN,1321.375,6.0,ALCANZO VACANTE,2025,2
17790,203,288063,"VILCAS OTA√ëE, WILLIAMS JEFFREY",CIENCIA DE LA COMPUTACI√ìN,1083.625,NaN,NaN,2025,2
17791,203,225656,"WALDE NURE√ëA, GABRIEL SEBASTIAN FRANCISCO",CIENCIA DE LA COMPUTACI√ìN,1108.750,NaN,NaN,2025,2
17792,203,297750,"ZARATE FERNANDEZ, NIKOLE RUBY",CIENCIA DE LA COMPUTACI√ìN,1032.625,NaN,NaN,2025,2
17793,203,249967,"ZAVALA ACOSTA, VICTOR HUGO",CIENCIA DE LA COMPUTACI√ìN,900.125,NaN,NaN,2025,2

In [14]:
ruta = r"C:\Users\PC\Desktop\Proyectos\Proyectos_Py\8.ResultadosAdmision\datos_admision\data_admision_20252_PT2.csv"
data2 = pd.read_csv(ruta, sep = "|")
data2

,CODIGO_ESCUELA,CODIGO,APELLIDOS_NOMBRES,ESCUELA_PROFESIONAL,PUNTAJE,MERITO,OBS,ANIO,TIPO
0,11,877220,"ABAD CONCHA, MIKHAIL MARED MARZUK",MEDICINA HUMANA,1098.125,NaN,NaN,2025,2
1,11,861521,"ABAD CONDORI, DANITZA ROCIO",MEDICINA HUMANA,1127.875,NaN,NaN,2025,2
2,11,866556,"ABAD GOMEZ, EVELYN DAYANNA",MEDICINA HUMANA,818.875,NaN,NaN,2025,2
3,11,867339,"ABAN CASTILLO, THALIA XIMENA",MEDICINA HUMANA,504.250,NaN,NaN,2025,2
4,11,876347,"ABANTO BENITES, SAMANTHA SOFIA",MEDICINA HUMANA,775.875,NaN,NaN,2025,2
...,...,...,...,...,...,...,...,...,...
9831,182,176912,"VILLANUEVA MAZA, RAID GAEL",PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA,600.500,NaN,NaN,2025,2
9832,182,103462,"VILLARROEL SIHUAY, ANDY GABRIEL",PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA,712.500,NaN,NaN,2025,2
9833,182,165407,"VILLOGAS PARRA, MATTHEW JOHAN",PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA,939.000,NaN,NaN,2025,2
9834,182,143202,"ZAPATA QUISPE, JES√öS ANDRE",PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA,536.625,NaN,NaN,2025,2
9835,182,190200,"ZU√ëIGA TORRES, LUIS SEBASTIAN",PSICOLOG√çA ORGANIZACIONAL Y DE LA GESTI√ìN HUMANA,801.000,NaN,NaN,2025,2

In [16]:
data = pd.concat([data2, data1])
data

,CODIGO_ESCUELA,CODIGO,APELLIDOS_NOMBRES,ESCUELA_PROFESIONAL,PUNTAJE,MERITO,OBS,ANIO,TIPO
0,11,877220,"ABAD CONCHA, MIKHAIL MARED MARZUK",MEDICINA HUMANA,1098.125,NaN,NaN,2025,2
1,11,861521,"ABAD CONDORI, DANITZA ROCIO",MEDICINA HUMANA,1127.875,NaN,NaN,2025,2
2,11,866556,"ABAD GOMEZ, EVELYN DAYANNA",MEDICINA HUMANA,818.875,NaN,NaN,2025,2
3,11,867339,"ABAN CASTILLO, THALIA XIMENA",MEDICINA HUMANA,504.250,NaN,NaN,2025,2
4,11,876347,"ABANTO BENITES, SAMANTHA SOFIA",MEDICINA HUMANA,775.875,NaN,NaN,2025,2
...,...,...,...,...,...,...,...,...,...
17789,203,251118,"VEGA ISUIZA, REYNALDO MAURICIO",CIENCIA DE LA COMPUTACI√ìN,1321.375,6.0,ALCANZO VACANTE,2025,2
17790,203,288063,"VILCAS OTA√ëE, WILLIAMS JEFFREY",CIENCIA DE LA COMPUTACI√ìN,1083.625,NaN,NaN,2025,2
17791,203,225656,"WALDE NURE√ëA, GABRIEL SEBASTIAN FRANCISCO",CIENCIA DE LA COMPUTACI√ìN,1108.750,NaN,NaN,2025,2
17792,203,297750,"ZARATE FERNANDEZ, NIKOLE RUBY",CIENCIA DE LA COMPUTACI√ìN,1032.625,NaN,NaN,2025,2
17793,203,249967,"ZAVALA ACOSTA, VICTOR HUGO",CIENCIA DE LA COMPUTACI√ìN,900.125,NaN,NaN,2025,2

In [17]:
# üì§ Insertar los datos en la tabla (ajusta "nombre_tabla")
data.to_sql("data_admision_20252"
        , engine
        , if_exists="append"
        , index=False)

print("‚úÖ Datos insertados con √©xito en SQL Server")

‚úÖ Datos insertados con √©xito en SQL Server